body {
    background: #3b3b3b;
    font-family: 'Lato', sans-serif;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

header {
    text-align: center;
    width: 800px;
    min-height: 80px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}


nav {
    background-color: rgb(41, 41, 41);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 40px;
    color: #ffffff;
    border-radius: 3px;
}

#logo {
    color: rgb(255, 238, 0);
    font-size: 45px;
}

.subpage {
    float: left;
    min-width: 75px;
    text-align: center;
    height: 20px;
    padding: 10px;
    font-size: 18px;
    border-right: 2px dotted #000000;
    vertical-align: middle;
}

.subpage:hover {
    background-color: rgb(255, 238, 0);
    color: black;
}

#gitDiv {
    float: right;
    border-right: none;
    border-left: 2px dotted #000000;
}

#git {
    color: white;
    font-size: 25px;
}

.resetFloat{
    float: none;
}

section {
    position: relative;
    margin-top: 25px;
    background-color: white;
    height: 680px;
    border-radius: 5px;
    padding: 20px;
    min-width: 760px;
}

footer {
    border-top: 2px black dotted;
    height: 25px;
    min-width: 800px;
    padding-top: 5px;
    margin-left: -20px;
    margin-right: -20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 15px;
}

li{
    padding: 5px;
}

#signUpList {
    list-style-type: none;
    padding-top: 20px;
    margin-left: 240px;
}



a { text-decoration: none; color: white;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

h3 { text-align: center; }