body {
    background: #112d32;
}

h2 {
    text-align: center;
}

input {
    padding: 5px;
    
}

.navigation {
    padding: 5px;
    color: darkolivegreen;
}

.registrationForm {
    margin: 3px;
}

#signUp {
    text-align: center;
}

#baseDiv {
    
    margin: auto;
    padding: 2%;
    width: 20%;
    background: #88BD8C;
    border-radius: 3px;
}
