<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"/>
    <meta name="author" content="Piotr Wróbel"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontello/css/fontello.css') }}"/>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="container">
        <header>
            <i class="demo-icon icon-box" id="logo"></i>
            <h1>
                Paczex-Pol Package Handling Service
            </h1>
        </header>
        <nav>
            <a href="{{ url_for('index') }}">
                <div class="subpage">
                    Main Page
                </div>
            </a>
            <a href="{{ url_for('login') }}">
                <div class="subpage">
                    Login
                </div>
            </a>
            <a href="{{ url_for('signup') }}">
                <div class="subpage">
                    Sign Up
                </div>
            </a>
            <a href="https://github.com/pwrobel2/PAMiW">
                <div class="subpage" id="gitDiv">
                    <i class="demo-icon icon-github-text" id="git">
                    </i>
                </div>
            </a>
            <div class="resetFloat">
            </div>
        </nav>
        <section>
            {% block body %}
            {% endblock %}
            <footer>
                @2020 Wróbel Piotr (299280)
            </footer>
        </section>
    </div>
</body>
</html>