{% extends 'base.html' %}

{% block head %}
<title>Paczex-Pol - Sign Up</title>
<script type="text/javascript" src="{{ url_for('static', filename='js/signUpForm.js') }}"></script>
{% endblock %}

{% block body %}

<form action="/" method="POST" style="padding: 5px;" id="signUp" enctype="multipart/form-data">
    <h3>Sender Registration Form</h3>
    <ul id="signUpList">
        <li>
            <input type = "text" name="name" id="name" placeholder="Name"/>
        </li>
        <li>
            <input type = "text" name="surname" id="surname" placeholder="Surname"/>
        </li>
        <li>
            <input type = "text" name="username" id="username" placeholder="Username"/>
        </li>
        <li>
            <input type = "password" name="password" id="password" placeholder="Password"/>
        </li>
        <li>
            <input type = "password" name="password_repeat" id="password_repeat" placeholder="Repeat Password"/>
        </li>
        <li>
            Show passwords:
            <input type = "checkbox" onclick="showPassword()"/>
        </li>
        <li>
            Upload photo:
        </li>
        <li> 
            <input type = "file" name="img" id="img" accept=" .png, .jpg "/>
        </li>
        <li>
            <input type = "submit" value="Sign Up"/>
        </li>
    </ul>
</form>
<div class="resetFloat"></div>
{% endblock %}